*{
    text-decoration: none;
}

body{
    height: auto;
    width: auto;
 
}

p{
    font-family: roboto;
}

h1{
    font-family: roboto;
}

.container{
    width: 1440px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.nav-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul .left{
    float: left;
    margin-left: 20px;
}
.left{
    margin-right: 365px;
}

.icons a img{
    width: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li{
    list-style: none;
    display: inline-block;
    margin-left:10px;
}

li a{
    font-family: roboto;
    font-weight: 400;
    color: black;
    display: flex;
    justify-content: center;
}

.baner{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

h1{
    font-family: roboto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 600;
}

.seccond-container{
    margin-left: auto;
    margin-right: auto;
}

.seccond-div{
    justify-content: center;
    display: flex;
}

button{
    border: none;
    background-color: white;
    margin-left: 20px;
    margin-right: 35px;
    font-family: roboto;
    
}

.gallery-container{
    display: flex;
    justify-content: center;
}

.offer-left{
margin: 0px 10px 0px;  
}

.offer-right{
    margin: 0px 10px 0px; 
    padding: 10px 0px 0px;
    width: 680px;
    height: auto;
    margin-top: -10px;
    
}

.offer-left img{
    border-radius: 25px;
    width: 675px;
}
.offer-right img{
    border-radius: 25px;
    width: 335px;
    height: 335px;

}

.text-one{
    text-align: center;
    margin-top: -125px;
    font-size: 30px;
    font-family: roboto;
    font-weight: 700;
}

.text-one-one{
    text-align: center;
    font-family: roboto;
    font-weight: 300;
    font-size: 20px;
}

.button-bar{
    text-align: center;
}

.button-bar button{
    background: none;
    margin: 10px;
}

.main-box{
    background-image: url(zfold6.jpg);
    width: 1440px;
    height: 810px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

a{
    color: black;
}

